.navbar {
  background-color: #23969a;
  color: #fafafa;
}

mat-toolbar {
  background-color: #23969a;
  color: #fafafa;
}
.mat-toolbar a {
  color: #fafafa;
}

.mat-toolbar a:hover {
  background-color: #fafafa;
  color: #23969a;
}
