/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
* {
  font-family: "Oxygen", sans-serif;
}
html,
body {
  height: 100%;
}
body {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  background-color: var(--gray-98);
}

h1 {
  font-weight: lighter;
  font-size: 64px;
  line-height: 96px;
}

h2 {
  font-size: 32px;
  line-height: 48px;
}

h3 {
  font-size: 24px;
  line-height: 36px;
}

h4 {
  font-size: 16px;
  line-height: 24px;
}

i {
  padding-right: 5px;
  vertical-align: middle;
}
:root {
  --gray-05: #0c0c0c;
  --gray-14: #242424;
  --gray-31: #4e4e4e;
  --gray-42: #6a6a6a;
  --gray-53: #878787;
  --gray-86: #dcdcdc;
  --gray-92: #ebebeb;
  --gray-98: #fafafa;
  --green-40: #329864;
  --blue-30: #005499;
  --blue-38: #0069c2;
  --blue-48: #1174e6;
  --blue-62: #4d97ed;
  --red-37: #bb0b02;
  --red-42: #d40d02;
  --red-46: #ed0e00;
  --yellow-33: #a08209;
  --orange-46: #d46617;
  --scarlet-43: #bd1f44;
  --tangerine-45: #cf4219;

  /* Sequential */
  --gray-17: #2b2b2b;
  --gray-50: #808080;
  --pink-64: #e75fa0;
  --pink-31: #88144c;
  --turquoise-37: #23969a;
  --turquoise-7: #071d1d;
  --ocher-44: #b98327;
  --ocher-11: #2d2009;
  --slate-52: #6488a4;
  --slate-19: #24323e;
  --steel-59: #8087ad;
  --steel-25: #33384f;
}
